<div class="wrapper">
  <button #playButton mat-mini-fab [ariaLabel]="controllerActionsService.isPlayModeActive ? 'Pause' : 'Play'"
    [color]="controllerActionsService.isPlayModeActive ? 'accent' : 'primary'"
    [disabled]="controllerActionsService.isLiveModeActive || !(dbService.recordsCount$ | async)"
    (click)="handleAction(ACTION.PLAY)">
    <mat-icon>
      @if ( controllerActionsService.isPlayModeActive) { pause } @else { play_arrow }
    </mat-icon>
  </button>

  <button #liveButton mat-mini-fab aria-label="Live"
    [color]="controllerActionsService.isLiveModeActive ? 'accent' : 'primary'"
    [disabled]="controllerActionsService.isPlayModeActive || !( websocketService.connectionStatus$ | async)"
    (click)="handleAction(ACTION.LIVE)">
    <mat-icon>track_changes</mat-icon>
  </button>
</div>