<section class="section">

  @if(signalsService.signals$ | async; as signals ) {
    @if (signals.length) {
      <mat-accordion class="headers-align" multi>
        <mat-expansion-panel *ngFor="let signal of signals" [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>{{ signal.timestamp | date : "long" }}</span>
            </mat-panel-title>

            <mat-panel-description>
              <span class="description">Latitude: {{ signal.point.lat }} </span>
              <span class="description">Longitude: {{ signal.point.lon }}</span>

              <mat-icon>room</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="body">
            <pre>{{ signal | json }}</pre>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    } @else {
      <div>There is no signals here</div>
    }
  }

</section>